{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "plugins": ["import"],
  "extends": ["airbnb-typescript-prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "tsconfig.json",
    "createDefaultProgram": true
  },
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ],
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error",
    "max-len": [
      "error",
      {
        "code": 80
      }
    ],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "no-return-assign": ["warn"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": 0
  },
  "globals": {
    "window": true,
    "module": true
  }
}
